body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    color: white;
}

#click {
    margin-top: auto;
    margin-left: 50%;
    transform: translate(-50%);
    width: 33%;
    height: 100%;
    background-color: yellow;
    position: fixed;
    opacity: 0;
}